.menuButton {
    -fx-background-color: transparent;
}

.addButton {
    -fx-background-color: rgba(240, 242, 255, 0.8);
}

.menuButton:hover, .addButton:hover {
    -fx-background-color: rgba(230, 236, 255, 0.8);
}

.menuButton:pressed, .addButton:pressed {
    -fx-background-color: rgba(196, 212, 255, 0.8);
}

.mainWindow {
    -fx-background-color: white;
}

.menu {
    -fx-background-color: white;
}

.title {
    -fx-font-size: 16px;
}

.fileName {
    -fx-font-weight: bold;
}

.menuButtonTT {
    -fx-background-color: rgba(255, 255, 255, 0.75);
    -fx-text-fill: rgb(89, 107, 187);
    -fx-font: normal bold 12 Langdon;
}

.scroll {
    -fx-border-style: solid;
    -fx-border-color: lightgray;
}

.scroll > .viewport, .scroll {
    -fx-background-color: transparent;
}

.mainHBox {
    -fx-background-color: transparent;
}

.editTitleBtn {
    -fx-background-color: transparent;
}

.editTitleBtn:hover {
    -fx-background-color: rgba(230, 236, 255, 0.8);
}


.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
	-fx-background-color:white;
	-fx-border-color:transparent;
	-fx-background-radius: 0em;
	-fx-border-radius:2em;
}
 

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 0 10 0;
 
}
 
 
.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
 
    -fx-background-color:transparent;
	-fx-background-radius: 0em;
	-fx-padding:0 10 0 0;
 
}
 
.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
	-fx-shape: " ";	
	-fx-padding:0;
}
 
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: linear-gradient(from 10% 25% to 80% 80%, rgba(128, 128, 164, 0.5), rgba(128, 128, 164, 0.3));
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;
 
}