.slot {
    -fx-border-style: solid;
    -fx-border-color: lightgray;
    /*-fx-background-color: rgba(200, 200, 200, 0.02);*/
    -fx-background-color: transparent;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.slotLabel {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #4BA9EF;
}

.slotHeader {
    /*-fx-background-color: rgba(128, 128, 164, 0.2);*/
    -fx-background-color: linear-gradient(from 10% 30% to 100% 100%, rgba(128, 128, 164, 0.03), rgba(128, 128, 164, 0.15));
}

.card {
    -fx-background-color: rgba(255, 255, 255, 1);
    -fx-background-radius: 5;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: gray;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 5, 0, 0, 0);
}

.card:hover {
    -fx-background-color:  linear-gradient(from 10% 30% to 100% 100%, rgb(242, 252, 255), rgb(210, 242, 255));
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.card:hover {
    -fx-cursor: hand;
}

.cardLeftBtn, .slotBtn {
    -fx-background-color: transparent;
}

.cardLeftBtn {
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-border-style: solid;
    -fx-border-color: gray;
}

.cardLeftBtn:hover, .slotBtn:hover {
    -fx-background-color: rgba(230, 236, 255, 0.8);
}

.cardLeftBtn:pressed, .slotBtn:pressed {
    -fx-background-color: rgba(196, 212, 255, 0.8);
}

#fieldValue {
    -fx-font-weight: bold;
}

.cardTitle {
    -fx-font-size: 18px;
    -fx-text-fill: #4BA9EF;
}

.buttonTT {
    -fx-background-color: rgba(255, 255, 255, 0.85);
    -fx-text-fill: rgb(89, 107, 187);
}

.slotScroll {
    -fx-border-style: solid none none none;
    -fx-border-color: linear-gradient(from 10% 25% to 100% 100%, rgba(128, 128, 164, 0.2), rgba(128, 128, 164, 0.5));

}

.slotScroll, .slotScroll > .viewport {
    -fx-background-color: transparent;
}